html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, small, img {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body,
html {
  height: 100%;
}

body {
  color: #787a80;
  font-family: "Calibri";
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  min-width: 720px;
  min-height: 576px;
}

.container {
  margin: 0 auto;
  width: 700px;
  max-width: 700px;
  height: 546px;
  max-height: 546px;
}

.content {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

.ColorGame {
  width:540px!important;
  height:540px!important;
}

.ColorGame-meta {
  margin-bottom: 10px;
  color: #28aadc;
}

.ColorGame-meta--item {
  display: inline-block;
}

.ColorGame-meta--left {
  float: left;
}

.ColorGame-meta--right {
  float: right;
}

.ColorGame-meta--level {
  margin-right: 20px;
}

.ColorGame-wrapper {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.ColorGame-contents {
  position: relative;
  padding-bottom: 100%;
  margin-left: -5px;
  margin-right: -5px;
}

.ColorGame-tile {
  position: absolute;
  padding: 5px;
}

.ColorGame-plan .ColorGame-tile {
  width: 25%;
  height: 25%;
}

.ColorGame-plan .ColorGame-tile-1 {
  top: 0%;
  left: 0%;
}
.ColorGame-plan .ColorGame-tile-2 {
  top: 0%;
  left: 25%;
}
.ColorGame-plan .ColorGame-tile-3 {
  top: 0%;
  left: 50%;
}
.ColorGame-plan .ColorGame-tile-4 {
  top: 0%;
  left: 75%;
}
.ColorGame-plan .ColorGame-tile-5 {
  top: 25%;
  left: 0%;
}
.ColorGame-plan .ColorGame-tile-6 {
  top: 25%;
  left: 25%;
}
.ColorGame-plan .ColorGame-tile-7 {
  top: 25%;
  left: 50%;
}
.ColorGame-plan .ColorGame-tile-8 {
  top: 25%;
  left: 75%;
}
.ColorGame-plan .ColorGame-tile-9 {
  top: 50%;
  left: 0%;
}
.ColorGame-plan .ColorGame-tile-10 {
  top: 50%;
  left: 25%;
}
.ColorGame-plan .ColorGame-tile-11 {
  top: 50%;
  left: 50%;
}
.ColorGame-plan .ColorGame-tile-12 {
  top: 50%;
  left: 75%;
}
.ColorGame-plan .ColorGame-tile-13 {
  top: 75%;
  left: 0%;
}
.ColorGame-plan .ColorGame-tile-14 {
  top: 75%;
  left: 25%;
}
.ColorGame-plan .ColorGame-tile-15 {
  top: 75%;
  left: 50%;
}
.ColorGame-plan .ColorGame-tile-16 {
  top: 75%;
  left: 75%;
}

.ColorGame-tile--inner {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.ColorGame-tile--outside,
.ColorGame-tile--inside {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s, background 0.3s;
          transition: transform 0.3s, background 0.3s;
}

.ColorGame-tile--inside img{
    width:100%;
    height:100%;
}
.ColorGame-tile--outside {
  background: url("../img/card_bg.gif") 100% 100%;
  background-color: #dcdee1;
  background-size: 100% 100%;
  box-shadow: 0 0 0 1px #787a80;
}

.ColorGame-tile--inside {
  background-color: #f8fafc;
  box-shadow: 0 0 0 1px #787a80;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.ColorGame-tile--inner.flipped .ColorGame-tile--outside {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.ColorGame-tile--inner.flipped .ColorGame-tile--inside {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.ColorGame-tile--inner.flipped.correct .ColorGame-tile--inside {
  background-color: #ffffdc;
}

.ColorGame-onend {
  padding: 80px 20px;
  text-align: center;
}

.ColorGame-onend--heading {
  margin-bottom: 10px;
  color: #28aadc;
  font-size: 30px;
}

.ColorGame-onend--message {
  margin-bottom: 10px;
}

.color-game-button {
  margin: 0;
  display: inline-block;
  padding: 5px;
  color: #fff;
  font-family: "Calibri";
  font-size: 14px;
  appearance: none;
  background: #F47403;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  cursor: pointer;
}

#color-memory-game {
    width:546px;
    float:left;
}

.right-sidebar {
    float: right;
    width: 120px;
    text-align: center;
}

.highscores {
    border: 2px solid;
    box-shadow: 5px 5px 5px #888888;
    margin-bottom: 20px;
    margin-top: 20px;
}

.highscores ul{
    list-style-type: decimal;
}

#color-game-hover{
     box-sizing:border-box;
     -moz-box-sizing:border-box;
     -webkit-box-sizing:border-box;
     border:3px solid #F47403;
}
